INDEXDB=/data/indexd/vhkdtest

RPC=http://192.168.1.216:8994
RPCPASSWORD=123456
RPCUSER=swkj
ZMQ=tcp://192.168.1.216:38802

SERVER_PORT=8891

NODE_ENV=production
RPCBATCHSIZE=500
RPCCONCURRENT=32

SECRET=123456
CURRENCY=vhkdtest